.swagger-ui {
  @apply font-sans;
  min-height: 100vh;

  & > div {
    background: var(--background);
  }

  .wrapper {
    padding: 0 50px;
    max-width: 1000px;
    margin: 0 auto;
  }

  // Название API
  .info .title {
    @apply font-sans;
    text-align: center;
  }

  // Описание API
  .info p {
    @apply font-sans;
    //text-align: center;
  }

  .scheme-container {
    @apply bg-neutral-50
    //background-color: var(--bg-gray-50);
  }

  select {
    @apply font-sans;
    border-radius: 0.5rem;
  }

  .arrow {
    @apply transition-transform  rounded-md hover:stroke-zinc-300
    //hover:bg-zinc-700
  }

  .info .title small.version-stamp {
    display: none;
  }

  .topbar {
    background-color: #202023;
  }

  .opblock-tag p {
    @apply font-sans;
    color: #C2C2C2;
  }
}

//.topbar-wrapper {
  //content: url('http://localhost:5000/api/static/swagger/${this.topbarIconFilename}');
  //width: 250px;
  //height: auto;
//}

//.topbar-wrapper svg {
//  visibility: hidden;
//}

.swagger-ui .opblock {
  box-shadow: none;
}

.swagger-ui .opblock-summary-control:focus {
  outline: none;
}

.swagger-ui .opblock .opblock-summary-path {
  @apply text-neutral-700;
  @apply font-medium;
  font-family: var(--main-font), serif;

}

.swagger-ui .opblock .opblock-summary-description {
  @apply text-neutral-500;

  font-family: var(--main-font), serif;
}

.swagger-ui .opblock.opblock-get,
.swagger-ui .opblock.opblock-post,
.swagger-ui .opblock.opblock-delete,
.swagger-ui .opblock.opblock-patch,
.swagger-ui .opblock.opblock-put {
  @apply bg-white;
  @apply border-neutral-300;
}

.swagger-ui .opblock.opblock-get .opblock-summary,
.swagger-ui .opblock.opblock-post .opblock-summary,
.swagger-ui .opblock.opblock-delete .opblock-summary,
.swagger-ui .opblock.opblock-patch .opblock-summary,
.swagger-ui .opblock.opblock-put .opblock-summary {
  @apply bg-white;
  @apply border-neutral-300;
}

.swagger-ui .opblock.opblock-get .opblock-summary-method,
.swagger-ui .opblock.opblock-post .opblock-summary-method,
.swagger-ui .opblock.opblock-delete .opblock-summary-method,
.swagger-ui .opblock.opblock-patch .opblock-summary-method,
.swagger-ui .opblock.opblock-put .opblock-summary-method {
  @apply border-neutral-300;

  min-width: 60px;
  background: none;
  font-family: var(--main-font), serif;
  border-radius: 6px;
  text-shadow: none;
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
  color: #61affe;
}

.swagger-ui .opblock.opblock-post .opblock-summary-method {
  color: #0caf49;
}

.swagger-ui .opblock.opblock-delete .opblock-summary-method {
  @apply text-red-500;
}

.swagger-ui .opblock.opblock-patch .opblock-summary-method {
  @apply text-violet-500;
}

.swagger-ui .opblock.opblock-put .opblock-summary-method {
  color: #F07953;
}

.swagger-ui .opblock.opblock-patch .tab-header .tab-item.active h4 span::after {
  background: #737373;
}

.swagger-ui .opblock.opblock-put .tab-header .tab-item.active h4 span::after {
  background: #F07953;
}

.swagger-ui .btn.authorize {
  @apply text-white;
  @apply bg-blue-500;

  border: none;
  border-radius: 6px;
}

.swagger-ui .btn.authorize svg {
  fill: #FFFFFF;
}

.swagger-ui .btn {
  @apply text-white; 

  box-shadow: none;
  border: none;
  border-radius: 6px;

  &:hover {
    box-shadow: none;
  }
}

.swagger-ui .btn svg {
  fill: #FFFFFF;
}

.swagger-ui .btn.btn-done {
  @apply bg-neutral-500;

  &:hover {
    @apply bg-neutral-600;
  }
}

.swagger-ui .btn.try-out__btn {
  @apply bg-blue-500;

  &:hover {
    @apply bg-blue-600;
  }
}

.swagger-ui .btn.try-out__btn.cancel {
  @apply bg-red-500;
  @apply text-white; 

  &:hover {
    @apply bg-red-600;
  }
}


.swagger-ui section.models {
  @apply border-neutral-300;

  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
}

.swagger-ui section.models h4 span {
  @apply text-neutral-500;
}

.swagger-ui .opblock .opblock-section-header h4 {
  @apply text-neutral-800;
}

.swagger-ui .response-col_status,
.swagger-ui table thead tr td,
.swagger-ui table thead tr th,
.swagger-ui .tab li button.tablinks,
.swagger-ui .parameter__name,
.swagger-ui .model-title,
.swagger-ui .model  {
  @apply text-neutral-700;
}

.swagger-ui .expand-operation, .swagger-ui .opblock-control-arrow {
  fill: #FFFFFF;
}

.swagger-ui .opblock-description-wrapper p,
.swagger-ui .response-col_links,
.swagger-ui .parameter__type,
.swagger-ui .parameter__in,
.swagger-ui .prop-type,
.swagger-ui .model .property.primitive {
  @apply text-neutral-400;
}

.swagger-ui .opblock .opblock-section-header {
  @apply bg-neutral-100;
  @apply border-neutral-300;

  min-height: 30px;
}

.swagger-ui .opblock-body pre.microlight {
  @apply bg-neutral-100 !important;
  @apply text-neutral-700 !important;

  border-radius: 6px;
}

.swagger-ui .opblock-body pre.microlight span[style="color: rgb(162, 252, 162);"] {
  @apply text-green-500 !important;
}

.swagger-ui .parameter__name.required::after,
.swagger-ui .parameter__name.required span {
  @apply text-red-500;
}

.swagger-ui .dialog-ux .modal-ux {
  @apply bg-white;

  box-shadow: none;
  border: none;
  border-radius: 10px;
}
.swagger-ui .dialog-ux .modal-ux-header {
  @apply border-neutral-300;
  border-bottom-width: 1px;
  border-style: solid;
}

.swagger-ui .dialog-ux .modal-ux-header h3,
.swagger-ui .dialog-ux .modal-ux-content h4 {
  @apply font-sans;
  @apply text-neutral-700;
}

.swagger-ui .auth-btn-wrapper {
  gap: 20px;
}

.swagger-ui input[type="text"]::placeholder {
  color: var(--input-placeholder-color);
  opacity: 1;
}

.swagger-ui input[type="text"] {
  @apply font-sans;
  @apply bg-neutral-100;
  @apply border-neutral-300;

  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;
}

.swagger-ui input[type="text"]:focus:focus-within,
.swagger-ui input[type="text"]:focus {
  outline: none;
  --input-bd: var(--input-bd-focus);
  border: 0.5px solid #1971c2;
}

.swagger-ui .dialog-ux .modal-ux-header .close-modal {
  @apply fill-neutral-700;
}

.swagger-ui label {
  @apply font-sans;
  @apply text-neutral-500;
}

.swagger-ui .model-toggle::after {
  background: url("data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\"><path fill=\"#b8b8b8\" d=\"M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z\"/></svg>") 50% no-repeat;
}

.swagger-ui select option {
  @apply font-sans;
}

.swagger-ui .model-box .model.model-title {
  @apply font-sans;
}

.swagger-ui select {
  @apply font-medium;
  @apply border-neutral-300;

  box-shadow: none;
  border-width: 1px;
}

.swagger-ui .body-param__text {
  @apply bg-neutral-100;
}

.dark {
  .swagger-ui > div {
    background: var(--background);
  }

  .swagger-ui .opblock .opblock-summary-path {
    @apply text-neutral-100;
  }

  .swagger-ui {
    color: #ffffff;

    // Название API
    .info .title {
      color: rgb(201, 201, 201);
    }

    .scheme-container {
      @apply bg-zinc-900;
      //background-color: var(--zinc-800);
    }

    // Описание API
    .info p {
      color: #C2C2C2;
    }

    // Текст тега
    .opblock-tag {
      @apply border-neutral-600;
      @apply text-neutral-300;
    }

    .opblock-control-arrow .arrow {
      color: #fff;
    }

    input[type="text"] {
      @apply bg-zinc-700;
      @apply border-neutral-600;
      @apply text-neutral-300;
    }

    select {
      @apply text-neutral-300;
      @apply bg-zinc-700;
      border: 0.5px solid var(--mantine-color-dark-4);
      //border-radius: 0.5rem;
      //font-family: var(--main-font), sans-serif;
    }
  }

  .swagger-ui .opblock .opblock-summary-path {
    @apply text-neutral-300;
  }
  
  .swagger-ui .opblock .opblock-summary-description {
    @apply text-neutral-500;
  }
  
  .swagger-ui .opblock.opblock-get,
  .swagger-ui .opblock.opblock-post,
  .swagger-ui .opblock.opblock-delete,
  .swagger-ui .opblock.opblock-patch,
  .swagger-ui .opblock.opblock-put {
    @apply bg-zinc-800;
    @apply border-neutral-600;
  }
  
  .swagger-ui .opblock.opblock-get .opblock-summary,
  .swagger-ui .opblock.opblock-post .opblock-summary,
  .swagger-ui .opblock.opblock-delete .opblock-summary,
  .swagger-ui .opblock.opblock-patch .opblock-summary,
  .swagger-ui .opblock.opblock-put .opblock-summary {
    @apply bg-zinc-900;
    @apply border-neutral-600;
  }
  
  .swagger-ui .opblock.opblock-get .opblock-summary-method,
  .swagger-ui .opblock.opblock-post .opblock-summary-method,
  .swagger-ui .opblock.opblock-delete .opblock-summary-method,
  .swagger-ui .opblock.opblock-patch .opblock-summary-method,
  .swagger-ui .opblock.opblock-put .opblock-summary-method {
    @apply border-neutral-600;
  }
  
  .swagger-ui .opblock.opblock-get .opblock-summary-method {
    color: #61affe;
  }
  
  .swagger-ui .opblock.opblock-post .opblock-summary-method {
    @apply text-green-400;
  }

  
  .swagger-ui .opblock.opblock-patch .opblock-summary-method {
    @apply text-violet-400;
  }
  
  .swagger-ui .opblock.opblock-put .opblock-summary-method {
    color: #F07953;
  }

  .swagger-ui .opblock.opblock-delete .opblock-summary-method {
    @apply text-red-400;
  }
  
  .swagger-ui .opblock.opblock-patch .tab-header .tab-item.active h4 span::after {
    background: #737373;
  }
  
  .swagger-ui .opblock.opblock-put .tab-header .tab-item.active h4 span::after {
    background: #F07953;
  }
  
  .swagger-ui .btn {
    @apply text-white; 
  }
  
  .swagger-ui .btn.authorize svg,
  .swagger-ui .btn svg {
    @apply fill-white;
  }
  
  .swagger-ui section.models {
    @apply border-neutral-600;
  }
  
  .swagger-ui section.models h4 span {
    @apply text-neutral-400;
  }
  
  .swagger-ui .opblock .opblock-section-header h4 {
    @apply text-neutral-300;
  }
  
  .swagger-ui .response-col_status,
  .swagger-ui table thead tr td,
  .swagger-ui table thead tr th,
  .swagger-ui .tab li button.tablinks,
  .swagger-ui .parameter__name,
  .swagger-ui .model-title,
  .swagger-ui .model  {
    @apply text-neutral-300;
  }
  
  .swagger-ui .expand-operation, .swagger-ui .opblock-control-arrow {
    fill: #FFFFFF;
  }
  
  .swagger-ui .opblock-description-wrapper p,
  .swagger-ui .response-col_links,
  .swagger-ui .parameter__type,
  .swagger-ui .parameter__in,
  .swagger-ui .prop-type,
  .swagger-ui .model .property.primitive {
    @apply text-neutral-500;
  }
  
  .swagger-ui .opblock .opblock-section-header {
    @apply bg-zinc-900;
    @apply border-neutral-600;
  }
  
  .swagger-ui .opblock-body pre.microlight {
    @apply bg-zinc-900 !important;
    @apply text-neutral-300 !important;
  }
  
  .swagger-ui .dialog-ux .modal-ux {
    @apply bg-zinc-900;
  }
  .swagger-ui .dialog-ux .modal-ux-header {
    @apply border-neutral-600;
  }
  
  .swagger-ui .dialog-ux .modal-ux-header h3,
  .swagger-ui .dialog-ux .modal-ux-content h4 {
    @apply text-neutral-300;
  }
  
  .swagger-ui input[type="text"]::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1;///
  }
  
  .swagger-ui input[type="text"] {
    border: 0.5px solid var(--mantine-color-dark-4);///
  }
  
  .swagger-ui input[type="text"]:focus:focus-within,
  .swagger-ui input[type="text"]:focus {
    --input-bd: var(--input-bd-focus);
    border: 0.5px solid #1971c2;//
  }
  
  .swagger-ui .dialog-ux .modal-ux-header .close-modal {
    @apply fill-neutral-300;
  }
  
  .swagger-ui label {
    @apply text-neutral-500;
  }
  
  .swagger-ui select {
    @apply border-neutral-600;
  }

  .swagger-ui section.models .model-container {
    @apply bg-zinc-900;
  }

  .swagger-ui .body-param__text {
    @apply bg-zinc-900;
    @apply text-neutral-300;
  }

  .swagger-ui .response-control-media-type__accept-message {
    @apply text-green-400;
  }

  .swagger-ui .btn.btn-done {
    @apply bg-neutral-600;
  
    &:hover {
      @apply bg-neutral-700;
    }
  }
}